---
import type { SkillCardProp } from "../types/skill";
import { Image } from "astro:assets";

interface Props extends SkillCardProp {}

const { logo, title, rating } = Astro.props;
---

<div
  class="transition-all duration-500 hover:shadow-xl-seno hover:shadow-primary-accent flex flex-col gap-3 bg-[#FEF9F2] text-black p-4 items-center justify-center rounded-xl hover:duration-150 hover:-translate-y-5"
>
  <div class="relative w-[64px] h-[64px]">
    <Image src={logo} width="64" height="64" class="object-contain" alt={title} />
  </div>
  <div class="flex gap-1 hover:duration-150">
    {Array.from({ length: 5 }, (_, index) => {
      if (index < rating) {
        return (
          <span class="text-2xl text-primary-accent effect-shine">
            &#9733;
          </span>
        );
      }
      return <span class="text-2xl text-gray-400">&#9733;</span>;
    })}
  </div>
  <p class="text-xl text-center font-extrabold">{title}</p>
</div>

