---
import SkillLine from "@components/SkillLine.astro";
import { SkillData } from "@data/skillData";
---

<section id="skills" class="py-20">
  <h1
    class="mb-10 w-full pt-4 text-center text-6xl font-bold text-primary-accent lg:text-7xl"
  >
    Skill Set
  </h1>
  <div class="flex flex-col justify-center">
    {SkillData.map((skill) => <SkillLine {...skill} />)}
  </div>
</section>

